KAKAO_CLIENT_ID=replace-with-kakao-rest-api-key
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:8080/api/v1/auth/kakao/callback
KAKAO_LOCAL_REST_API_KEY=replace-with-kakao-rest-api-key
KAKAO_LOCAL_BASE_URL=https://dapi.kakao.com
KAKAO_LOCAL_TIMEOUT=2s
DB_URL="jdbc:mysql://localhost:3306/rider?connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true"
DB_USERNAME=root
DB_PASSWORD=1234
